name: Xcode Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: Build Package
    runs-on: macos-latest
    strategy:
      matrix:
        destination:
          - platform=macOS
          - platform=macOS,variant=Mac Catalyst
          - name=iPhone 14
          - name=Apple TV
          - name=Apple Watch Series 8 - 44mm
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          xcodebuild \
          -scheme UIImageColors-Package \
          -destination '${{ matrix.destination }}'
      - name: Test
        run: |
          xcodebuild \
          -scheme UIImageColors-Package \
          -destination '${{ matrix.destination }}' \
          test
